body{

	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("newback.jpg");
    height: 100%;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;

}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "monospace";
    font-size: 17px;
}
.main-nav li.active a{

}
.main-nav li:hover{

    background-color: darkorange;
    transition: all 0.5s ease-in;
    border: 1px solid white;
}

.logo img {
    width: 200px;
    height: auto;
    float: left;
    margin-top: 15px;
}
.logo img:hover{
    -webkit-transform: rotate(-10deg);

    /* Firefox */
    -moz-transform: rotate(-10deg);

    /* IE */
    -ms-transform: rotate(-10deg);

    /* Opera */
    -o-transform: rotate(-10deg);

    transition: all 0.3s ease-in;
}

body{
    font-family: monospace;
}

.row{
    max-width: 1200px;
    margin:auto;
}

.main-text h1{
    color:white;
    font-size:65px;
    text-align: center;
    margin-top:140px;
}

.main-logo img{
    width: 300px;
    height: auto;
    float:right;
    margin-right: 510px;
    margin-top: -30px;
}
