body{

	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("newback.jpg");
    height: 100%;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-attachment: fixed;

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;

}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    box-shadow: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 17px;
}


.main-nav li a{

}
.main-nav li:hover{

    background-color: darkorange;
    transition: all 0.3s ease-in;
    border: 1px solid white;
}

.logo img {
    width: 200px;
    height: auto;
    float: left;
    margin-top: 15px;

}
.logo img:hover{
    -webkit-transform: rotate(-10deg);

    /* Firefox */
    -moz-transform: rotate(-10deg);

    /* IE */
    -ms-transform: rotate(-10deg);

    /* Opera */
    -o-transform: rotate(-10deg);

    transition: all 0.3s ease-in;
}

.row{
    max-width: 1200px;
    margin:auto;
}

.main-text h1{
    color:white;
    font-size:65px;
    text-align: center;
    margin-top:140px;
}

.main-logo img{
    width: 300px;
    height: auto;
    float:right;
    margin-right: 510px;
    margin-top: -30px;
}
.anchor-point{
    transition: all 0.3s ease-in;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

section{
    min-height:420px;

}
.about{
    height: 100%;
  background: #ffffff;
}

.port{
    min-height: 800px;
    margin-top: -20px;
    height: 100%;
    background: #ffffff;
}
h3{
    padding-top: 5%;
    margin-bottom:5px;
    font-size: 60px;
}
hr{
    width: 120px;
    height: 3px;
    background: #550004;
    border:0;
    margin:0 auto 40px auto;
    box-shadow: rgb(0,0,0);
}
section p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
}
.pf1{
    margin-top: 40px;
    height: 200px;
    width: auto;
    position: relative;
    float: left;
    margin-left: 100px;
}
img.pf1:hover{
    transform:scale(1.2);
    transition: all 0.1s ease-in;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;

}
footer{
    font-size: 20px;
    color: Black;
}
